version: '3.8'
services:
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.9.3
    environment:
      - discovery.type=single-node
      - ES_JAVA_OPTS=-Xmx256m -Xms256m
    ports:
      - "9200:9200"
    volumes:
      - elasticsearch_data:/usr/share/elasticsearch/data
    networks:
      - my_shared_network

  kibana:
    image: docker.elastic.co/kibana/kibana:7.9.3
    ports:
      - "5601:5601"
    depends_on:
      - elasticsearch
    networks:
      - my_shared_network

  logstash:
    image: docker.elastic.co/logstash/logstash:7.9.3
    build:
      context: .
      dockerfile: Dockerfile.logstash
    volumes:
      - ./logstash:/usr/share/logstash/pipeline:ro
    depends_on:
      - elasticsearch
    ports:
      - "5044:5044"
    environment:
      LS_JAVA_OPTS: "-Xmx256m -Xms256m"
    networks:
      - my_shared_network

volumes:
  elasticsearch_data:

networks:
  my_shared_network:
    external: true
